# Hello World!

In [1]:
from pptx import Presentation
prs = Presentation()
title_slide_layout = prs.slide_layouts[0]
slide = prs.slides.add_slide(title_slide_layout)
title = slide.shapes.title
subtitle = slide.placeholders[1]
title.text = "Hello, World!"
subtitle.text = "python-pptx was here!"
prs.save('test2.pptx')

# Adding Bullets

In [2]:
from pptx import Presentation
prs = Presentation()
bullet_slide_layout = prs.slide_layouts[1]
slide = prs.slides.add_slide(bullet_slide_layout)
shapes = slide.shapes
title_shape = shapes.title
body_shape = shapes.placeholders[1]
title_shape.text = 'Adding a Bullet Slide'
tf = body_shape.text_frame
tf.text = 'Find the bullet slide layout'
p = tf.add_paragraph()
p.text = 'Use _TextFrame.text for first bullet'
p.level = 1
p = tf.add_paragraph()
p.text = 'Use _TextFrame.add_paragraph() for subsequent bullets'
p.level = 2
prs.save('test2.pptx')

# Adding Text

In [3]:
from pptx import Presentation
from pptx.util import Inches, Pt
prs = Presentation()
blank_slide_layout = prs.slide_layouts[6]
slide = prs.slides.add_slide(blank_slide_layout)
left = top = width = height = Inches(1)
txBox = slide.shapes.add_textbox(left, top, width, height)
tf = txBox.text_frame
tf.text = "This is text inside a textbox"
p = tf.add_paragraph()
p.text = "This is a second paragraph that's bold"
p.font.bold = True
p = tf.add_paragraph()
p.text = "This is a third paragraph that's big"
p.font.size = Pt(40)
prs.save('test3.pptx')

# Adding Images

In [4]:
from pptx import Presentation
from pptx.util import Inches
img_path = 'STOCKHOLM.jpg'
prs = Presentation()
blank_slide_layout = prs.slide_layouts[6]
slide = prs.slides.add_slide(blank_slide_layout)
left = top = Inches(1)
pic = slide.shapes.add_picture(img_path, left, top)
left = Inches(5)
height = Inches(5.5)
pic = slide.shapes.add_picture(img_path, left, top, height=height)
prs.save('test4.pptx')

# Adding a Chart

In [5]:
from pptx import Presentation
from pptx.chart.data import CategoryChartData
from pptx.enum.chart import XL_CHART_TYPE
from pptx.util import Inches

# create presentation with 1 slide ------
prs = Presentation()
slide = prs.slides.add_slide(prs.slide_layouts[5])

# define chart data ---------------------
chart_data = CategoryChartData()
chart_data.categories = ['Personal', 'Movistar', 'Claro']
chart_data.add_series('Series 1', (19.2, 21.4, 16.7))

# add chart to slide --------------------
x, y, cx, cy = Inches(2), Inches(2), Inches(6), Inches(4.5)
slide.shapes.add_chart(
XL_CHART_TYPE.COLUMN_CLUSTERED, x, y, cx, cy, chart_data
)
prs.save('chart-01.pptx')

# Adding a Series Chart

In [6]:
from pptx import Presentation
from pptx.chart.data import CategoryChartData
from pptx.enum.chart import XL_CHART_TYPE
from pptx.util import Inches

# create presentation with 1 slide ------
prs = Presentation()
slide = prs.slides.add_slide(prs.slide_layouts[5])

# define chart data ---------------------
chart_data = CategoryChartData()
chart_data.categories = ['Personal', 'Movistar', 'Claro']
chart_data.add_series('Q0118', (19.2, 21.4, 16.7))
chart_data.add_series('Q0218', (14.2, 23.4, 12.7))
chart_data.add_series('Q0318', (16.2, 26.4, 13.7))

# add chart to slide --------------------
x, y, cx, cy = Inches(2), Inches(2), Inches(6), Inches(4.5)
slide.shapes.add_chart(
XL_CHART_TYPE.COLUMN_CLUSTERED, x, y, cx, cy, chart_data
)
prs.save('chart-02.pptx')

In [7]:
from pptx import Presentation
from pptx.chart.data import CategoryChartData
from pptx.enum.chart import XL_CHART_TYPE
from pptx.util import Inches

# create presentation with 1 slide ------
prs = Presentation()
slide = prs.slides.add_slide(prs.slide_layouts[5])

# define chart data ---------------------chart_data = ChartData()
chart_data.categories = ['Q1 Sales', 'Q2 Sales', 'Q3 Sales']
chart_data.add_series('West', (32.2, 28.4, 34.7))
chart_data.add_series('East', (24.3, 30.6, 20.2))
chart_data.add_series('Midwest', (20.4, 18.3, 26.2))
x, y, cx, cy = Inches(2), Inches(2), Inches(6), Inches(4.5)
chart = slide.shapes.add_chart(
XL_CHART_TYPE.LINE, x, y, cx, cy, chart_data
).chart
chart.has_legend = True
chart.legend.include_in_layout = False
chart.series[0].smooth = True

# add chart to slide --------------------
x, y, cx, cy = Inches(2), Inches(2), Inches(6), Inches(4.5)
slide.shapes.add_chart(
XL_CHART_TYPE.COLUMN_CLUSTERED, x, y, cx, cy, chart_data
)
prs.save('chart-03.pptx')

# Chart With data from CSV to PPT

In [8]:
import pandas as pd

NPS = pd.read_csv("/Users/casa/Desktop/Python/Python-PPT/Python-PPT-NPS.csv", sep='\t', delimiter=';', decimal=',')

In [9]:
NPS.head(1)

,Compañía,Q1_2017,Q2_2017,Q3_2017,Q4_2017,Q1_2018,Q2_2018,Q3_2018,Q4_2018
0,Personal,10.2,12.3,14.0,15.6,16.7,17.8,20.1,22.3

In [10]:
NPS.loc[[1]]

,Compañía,Q1_2017,Q2_2017,Q3_2017,Q4_2017,Q1_2018,Q2_2018,Q3_2018,Q4_2018
1,Movistar,9.4,14.5,13.5,16.6,15.8,18.9,22.4,19.6

In [22]:
NPS[['Compañía','Q1_2017', 'Q2_2017']]

   Compañía  Q1_2017  Q2_2017
0  Personal     10.2     12.3
1  Movistar      9.4     14.5
2     Claro     15.6     16.7

In [12]:
Q0117 = (tuple(NPS['Q1_2017']))
print(Q0117)

(10.2, 9.4, 15.6)

In [13]:
NPS[['Q1_2017']]

   Q1_2017
0     10.2
1      9.4
2     15.6

In [14]:
print (Q0117)

(10.2, 9.4, 15.6)

In [15]:
import inspect

def get_var_name(var):
    callers_local_vars = inspect.currentframe().f_back.f_locals.items()
    return [k for k, v in callers_local_vars if v is var]

In [16]:
a = (get_var_name(Q0117))
print(get_var_name(Q0117))

['Q0117']

In [17]:
a.append(Q0117)
print (a)

['Q0117', (10.2, 9.4, 15.6)]

In [18]:
x, y = a
x

'Q0117'

In [19]:
from pptx import Presentation
from pptx.chart.data import CategoryChartData
from pptx.enum.chart import XL_CHART_TYPE
from pptx.util import Inches

# create presentation with 1 slide ------
prs = Presentation()
slide = prs.slides.add_slide(prs.slide_layouts[5])

# define chart data ---------------------
chart_data = CategoryChartData()
chart_data.categories = ['Personal', 'Movistar', 'Claro']
chart_data.add_series(x, y)
chart_data.add_series('Q0218', (14.2, 23.4, 12.7))
chart_data.add_series('Q0318', (16.2, 26.4, 13.7))

# add chart to slide --------------------
x, y, cx, cy = Inches(2), Inches(2), Inches(6), Inches(4.5)
slide.shapes.add_chart(
XL_CHART_TYPE.COLUMN_CLUSTERED, x, y, cx, cy, chart_data
)
prs.save('chart-final.pptx')